@model CloudDeploy.Model.Releases.ReleasePackage
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<h3>Step 1: Create a Release</h3>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Release</legend>

         <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseName)
        </div>
        <div class="editor-field">
             @Html.EditorFor(model => model.ReleaseName)
             @Html.ValidationMessageFor(model => model.ReleaseName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>

    </fieldset>
}



