@{
    ViewBag.Title = "Index";
}

<h2>Deployments</h2>
<p>
    @Html.ActionLink("Create New", "CreateRelease")
</p>



@using (Html.BeginForm()) {
    <button id="CreateDeploymentButton" type="submit">Create new deployment</button>
    
    
}


